<!DOCTYPE html>

<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>
    .img-for_card{
    background-repeat: no-repeat;
    background-color: #f5f3f3;
    min-height: 250px;
    background-size: contain;
    background-position: center center;
}
.stars{
    font-size: 30px;
}
.container .display-3{
    font-size: 3.5rem;
}
.footer{
    background-color: #f5f3f3;
}
</style>
</head>
<body>

<div class="container mt-3">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" data-test="logo" href="/">{{ menu_title }}</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" data-test="navigation">
{% for link, departure in departures.items %}
            <li class="nav-item {% if request.path == '/departures/'|add:link|add:'/' %}active{% endif %}"><a class="nav-link" data-test="navlink" href="/departures/{{ link }}/">{{ departure }}</a></li>
{% endfor %}
        </ul>
    </div>
</nav>

    {% block container %} {% endblock %}

</div>
<div class="container mt-5">
    <div class="footer row p-4">
        <div class="col-6">
    {% for link, departure in departures.items %}
        <a class="{% if request.path == '/departures/'|add:link|add:'/' %}active{% endif %}"
           href="/departures/{{ link }}/">
            {{ departure }}
        </a><br>
    {% endfor %}
        </div>
        <div class="col-6">
            <a class="navbar-brand" data-test="logo" href="/">{{ menu_title }}</a>
        </div>
    </div>
</div>
</body>
</html>